<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel Journal App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A personal travel journal app to log entries, dream destinations, and explore maps.">
    <meta name="turbo-visit-control" content="reload">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-info bg-opacity-25">
    <%= render 'shared/navbar' %>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
